*{
    color: #fff;
}

body{
    display: flex;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    border: #fff 1px solid;
    box-shadow: 10px 10px rgb(226, 53, 0);
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: 300;
}

h4{
    font-size: large;
    font-weight: 250;
    padding: 1rem 0rem 1rem 0rem;
}

p{
  font-weight: 200;
  letter-spacing: 1px;
}