<body>
    
    <div>
        <h1>
            En qué consiste la página?
        </h1>
        <h4>
            Por John Navarro Ramírez
        </h4>
        <p>
            La página consiste en un sitio donde se muestren Gifs y Stickers de Giphy utilizando su API en nuestros componentes.
        <br>
            Mediante el navbar podemos navegar entre las diferentes secciones de la página o bien regresar al inicio con el botón home, de igual manera podemos regresar haciendo click en el nombre de la página ubicado en la parte superior (header).
        <br>
            Utilicé el manejo de rutas, interpolacion en ciertos componentes, un par de directivas, servicios y claramente llamadas al API, utilizando un diseño bastante minimalista con con colores muy contrastados como borde de componentes.    
        </p>

    </div>

</body>    
